<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znv.fssrqs.dao.mysql.CustomDeviceTreeDao">
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";" close="">
            update t_fss_customtree_node
            <set>
                <if test="item.nodeName != null">
                    node_name=#{item.nodeName},
                </if>
                <if test="item.nodeKind != null">
                    node_kind=#{item.nodeKind},
                </if>
                <if test="item.upNodeId != null">
                    up_node_id=#{item.upNodeId},
                </if>
                <if test="item.treeId != null">
                    tree_id=#{item.treeId}
                </if>
            </set>
              where node_id=#{item.nodeId}
        </foreach>
    </update>

    <insert id="insertBatch" parameterType="java.util.List" >
        insert into usmsc.t_fss_customtree_node (node_id, node_name, node_kind, up_node_id, tree_id) values
        <foreach collection="list" item="item"  separator=",">
            (
            #{item.nodeId},
            #{item.nodeName},
            #{item.nodeKind},
            #{item.upNodeId},
            #{item.treeId}
            )
        </foreach>
    </insert>

    <insert id="saveCustomUserGroup" parameterType="com.znv.fssrqs.entity.mysql.CustomUserGroupEntity" keyProperty="treeId" useGeneratedKeys="true">
        insert into usmsc.t_fss_customtree (tree_name,tree_desc,default_tree,system_tree)
        values (#{treeName},#{treeDesc},#{defaultTree},#{systemTree})

    </insert>

    <delete id ="deleteCustomUserGroup" parameterType="Integer">
        delete from usmsc.t_fss_customtree where usmsc.t_fss_customtree.tree_id=#{treeId}

    </delete>

    <update id="batchUpdateCrumbList" parameterType="java.util.List">
      <foreach collection="list" item="item" index="index" open="" separator=";" close="">
          update t_fss_crumb_customtree
          <set>
              <if test="item.nodeName != null">
                  parent_id=#{item.parentId},
              </if>
              <if test="item.crumb != null">
                  crumb=#{item.crumb},
              </if>
              <if test="item.nodeId != null">
                  node_id=#{item.nodeId},
              </if>
              <if test="item.nodeName != null">
                  node_name=#{item.nodeName},
              </if>
              <if test="item.nodeDesc != null">
                  node_desc=#{item.nodeDesc},
              </if>
              <if test="item.isLeaf != null">
                  is_leaf=#{item.isLeaf},
              </if>
              <if test="item.isDel != null">
                  is_del=#{item.isDel},
              </if>
              <if test="item.isDefault != null">
                  is_default=#{item.isDefault},
              </if>
          </set>
          where id=#{item.id}
      </foreach>
    </update>

    <insert id="batchInsertCrumbList" parameterType="java.util.List">
      insert into t_fss_crumb_customtree (parent_id,crumb,node_id,node_name,node_desc,is_leaf,is_del,is_default)
      values
      <foreach collection="list" item="item" separator=",">
          (
          #{item.parentId},
          #{item.crumb},
          #{item.nodeId},
          #{item.nodeName},
          #{item.nodeDesc},
          #{item.isLeaf},
          #{item.isDel},
          #{item.isDefault}
          )
      </foreach>

    </insert>

</mapper>