<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znv.fssrqs.dao.mysql.MDeviceDao">
    <resultMap id="MBusResultMap" type="com.znv.fssrqs.entity.mysql.MBusEntity">
        <id column="device_id" jdbcType="VARCHAR" property="DeviceID"/>
        <result column="device_name" jdbcType="VARCHAR" property="DeviceName"/>
        <result column="service_addr" jdbcType="VARCHAR" property="IP"/>
        <result column="private_service_addr" jdbcType="VARCHAR" property="PrivateIP"/>
        <result column="http_port" jdbcType="INTEGER" property="Port"/>
        <result column="login_state" jdbcType="INTEGER" property="LoginState"/>
    </resultMap>

    <resultMap id="AnalysisUnitResultMap" type="com.znv.fssrqs.entity.mysql.AnalysisUnitEntity">
        <id column="device_id" jdbcType="VARCHAR" property="DeviceID"/>
        <result column="device_name" jdbcType="VARCHAR" property="DeviceName"/>
        <result column="device_type" jdbcType="VARCHAR" property="DeviceType"/>
        <result column="service_ip" jdbcType="VARCHAR" property="IP"/>
        <result column="http_port" jdbcType="INTEGER" property="Port"/>
        <result column="login_state" jdbcType="INTEGER" property="LoginState"/>
    </resultMap>

    <select id="getMBus" resultMap="MBusResultMap">
        SELECT a.device_id,a.device_name,a.device_type,b.service_addr,b.private_service_addr,b.http_port,b.login_state
        FROM t_cfg_device a,t_cfg_nmsdevice b
        WHERE a.device_id=b.device_id AND a.device_type=119;
    </select>

    <select id="getStaticAnalysisUnit" resultMap="AnalysisUnitResultMap">
        SELECT a.device_id,a.device_name,a.device_type,b.service_ip,b.http_port,b.login_state
        FROM t_cfg_device a,t_scim_analysis_unit b
        WHERE a.device_id=b.device_id AND a.device_type=8902;
    </select>

    <select id="getDynamicAnalysisUnit" resultMap="AnalysisUnitResultMap">
        SELECT a.device_id,a.device_name,a.device_type,b.service_ip,b.http_port,b.login_state
        FROM t_cfg_device a,t_scim_analysis_unit b
        WHERE a.device_id=b.device_id AND a.device_type=8901;
    </select>
</mapper>
