<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znv.fssrqs.dao.mysql.MDictDao">
    <resultMap id="DeviceTypeResultMap" type="com.znv.fssrqs.entity.mysql.InfoDeviceTypeEntity">
        <id column="dict_id" jdbcType="INTEGER" property="DeviceTypeID"/>
        <result column="dict_note" jdbcType="VARCHAR" property="DeviceTypeName"/>
    </resultMap>

    <resultMap id="ManufactureResultMap" type="com.znv.fssrqs.entity.mysql.InfoManufactureEntity">
        <id column="dict_id" jdbcType="INTEGER" property="ManufactureID"/>
        <result column="dict_note" jdbcType="VARCHAR" property="ManufactureName"/>
    </resultMap>

    <select id="getDeviceType"  resultMap="DeviceTypeResultMap">
        SELECT dict_id, dict_note
        FROM t_cfg_dict d
        WHERE d.col_name='device_type'
          AND d.up_dict = #{DeviceKind,jdbcType=INTEGER}
        <if test="DeviceTypeID != null and DeviceTypeID!=''">
          AND d.dict_id = #{DeviceTypeID,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getManufacture"  resultMap="ManufactureResultMap">
        SELECT dict_id, dict_note
        FROM t_cfg_dict d
        WHERE d.col_name='analysis_maker'
          AND d.up_dict = #{DeviceKind,jdbcType=INTEGER}
        <if test="ManufactureID != null and ManufactureID!=''">
          AND d.dict_id = #{ManufactureID,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
