<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znv.fssrqs.dao.mysql.MSubscribersDao">

    <select id="findAll"   resultType="com.znv.fssrqs.entity.mysql.MSubscribersEntity">
        SELECT * from t_cfg_subscriber t
    </select>


</mapper>