<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znv.fssrqs.dao.mysql.MSubscribersDao">

    <select id="findAll" resultType="com.znv.fssrqs.entity.mysql.MSubscribersEntity">
        SELECT subscriber_id, alarm_push_url, push_start_time, push_end_time
        FROM t_cfg_subscriber S;
    </select>

    <select id="getSubscriberCamera" resultType="com.znv.fssrqs.entity.mysql.MSubscriberCameraEntity">
        SELECT subscriber_id, camera_id
        FROM t_cfg_subscriber_camera;
    </select>

    <select id="getSubscriberLib" resultType="com.znv.fssrqs.entity.mysql.MSubscriberLibEntity">
        SELECT subscriber_id, lib_id
        FROM t_cfg_subscriber_lib;
    </select>
</mapper>