<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znv.fssrqs.dao.mysql.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.znv.fssrqs.entity.mysql.UserGroup">
        <id column="user_group_id" jdbcType="INTEGER" property="UserGroupID"/>
        <result column="up_user_group_id" jdbcType="INTEGER" property="UpUserGroupID"/>
        <result column="user_group_name" jdbcType="VARCHAR" property="UserGroupName"/>
        <result column="user_group_desc" jdbcType="VARCHAR" property="UserGroupDesc"/>
        <result column="create_time" jdbcType="DATE" property="CreateTime"/>
        <result column="create_user_id" jdbcType="VARCHAR" property="CreateUserID"/>
        <result column="fss_role_id" jdbcType="INTEGER" property="RoleID"/>
        <result column="user_id" jdbcType="VARCHAR" property="UserID"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_group_id, up_user_group_id, user_group_name, user_group_desc, create_time, create_user_id
  </sql>
    <sql id="group_Column_List">
    user_group_id, up_user_group_id, user_group_name,fss_role_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_fss_usergroup
        where user_group_id = #{UserGroupID,jdbcType=INTEGER}
    </select>
    <select id="queryUserGroupByUserId" parameterType="com.znv.fssrqs.entity.mysql.UserGroup" resultMap="BaseResultMap">
        SELECT
        <include refid="group_Column_List"/>
        FROM t_cfg_user u left JOIN t_fss_user a on u.user_id=a.user_id
        LEFT JOIN t_fss_usergroup b ON a.fss_usergroup_id = b.user_group_id
        WHERE 1=1
        <if test="UserID != null">
            and a.user_id = #{UserID,jdbcType=VARCHAR}
        </if>
        limit 1
    </select>
    <select id="queryUserGroupByUpGroupId" parameterType="com.znv.fssrqs.entity.mysql.UserGroup"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from t_fss_usergroup a where 1=1
        <if test="upUserGroupId != null">
            and a.up_user_group_id = #{UpUserGroupID,jdbcType=INTEGER}
        </if>
        order by a.user_group_name,a.update_time asc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_fss_usergroup
    where user_group_id = #{UserGroupID,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.znv.fssrqs.entity.mysql.UserGroup">
    insert into t_fss_usergroup (user_group_id, up_user_group_id, user_group_name, 
      user_group_desc, create_time, create_user_id
      )
    values (#{UserGroupID,jdbcType=INTEGER}, #{UpUserGroupID,jdbcType=INTEGER}, #{UserGroupName,jdbcType=VARCHAR},
      #{UserGroupDesc,jdbcType=VARCHAR}, #{CreateTime,jdbcType=DATE}, #{CreateUserID,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.znv.fssrqs.entity.mysql.UserGroup">
        insert into t_fss_usergroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="UserGroupID != null">
                user_group_id,
            </if>
            <if test="UpUserGroupID != null">
                up_user_group_id,
            </if>
            <if test="UserGroupName != null">
                user_group_name,
            </if>
            <if test="UserGroupDesc != null">
                user_group_desc,
            </if>
            <if test="CreateTime != null">
                create_time,
            </if>
            <if test="CreateUserID != null">
                create_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="UserGroupID != null">
                #{UserGroupID,jdbcType=INTEGER},
            </if>
            <if test="UpUserGroupID != null">
                #{UpUserGroupID,jdbcType=INTEGER},
            </if>
            <if test="UserGroupName != null">
                #{UserGroupName,jdbcType=VARCHAR},
            </if>
            <if test="UserGroupDesc != null">
                #{UserGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="CreateTime != null">
                #{CreateTime,jdbcType=DATE},
            </if>
            <if test="CreateUserID != null">
                #{CreateUserID,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.znv.fssrqs.entity.mysql.UserGroup">
        update t_fss_usergroup
        <set>
            <if test="UpUserGroupID != null">
                up_user_group_id = #{UpUserGroupID,jdbcType=INTEGER},
            </if>
            <if test="UserGroupName != null">
                user_group_name = #{UserGroupName,jdbcType=VARCHAR},
            </if>
            <if test="UserGroupDesc != null">
                user_group_desc = #{UserGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="CreateTime != null">
                create_time = #{CreateTime,jdbcType=DATE},
            </if>
            <if test="CreateUserID != null">
                create_user_id = #{CreateUserID,jdbcType=VARCHAR},
            </if>
        </set>
        where user_group_id = #{UserGroupID,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.znv.fssrqs.entity.mysql.UserGroup">
    update t_fss_usergroup
    set up_user_group_id = #{UpUserGroupID,jdbcType=INTEGER},
      user_group_name = #{UserGroupName,jdbcType=VARCHAR},
      user_group_desc = #{UserGroupDesc,jdbcType=VARCHAR},
      create_time = #{CreateTime,jdbcType=DATE},
      create_user_id = #{CreateUserID,jdbcType=VARCHAR}
    where user_group_id = #{UserGroupID,jdbcType=INTEGER}
  </update>
</mapper>